@using Onebrb.Core.Models

@if (HasProducts == false)
{
    <p>@Profile.Nickname doesn't have any products on Onebrb yet.</p>
    return;
}

<h2> @Profile.Nickname</h2>
<p>@Profile.Products.Count() products on Onebrb.</p>

<div class="product-box">
    @foreach (var product in @Profile.Products)
    {
        <div class="card">
            <div class="card-header">
                @product.Title <span class="badge badge-secondary">@product.Price</span>
            </div>
            <div class="card-body">
                <p class="card-text">@product.Description</p>
                <a href="/product/@product.Id" class="btn btn-primary">Check it out</a>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public ProfileModel Profile { get; set; }
    public bool HasProducts { get; set; }

    protected override void OnInitialized()
    {
        HasProducts = Profile.Products != null && Profile.Products.Count > 0;
    }
}
